* {
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Class Template as basic structure for this assignment */
.template {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 20px 0;
}    

/* match the structure for header & footer */
header, footer {
    background-color: lightskyblue;
    color: #fff;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: larger;
}

ul {
    list-style: none;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

ul li, ul p {
    margin: 0px 20px;
}
/* Main menu for web application */
ul li a, ul p {
    text-decoration: underline;
    color: #e01a5c;
    font-size-adjust: inherit;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
/* Subheading */
nav {
    display: flex;
    flex-wrap: wrap;
    background-image: url(/Assets/images/stars.jpg);
    background-size: auto;
    font-size: 29px;
    align-items: center;
    color: magenta;
}
/* Aside */
.sidebar1 {
    width: 165%;
    height: 355px;
    background-color: #f4f4f4;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 30px;
}

.sidebar2 {
    width: 165%;
    height: 1445px;
    background-color: #f4f4f4;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 30px;
}

.sidebar h1, h2 {
    margin-bottom: 10px;
}
/* Class container for basic structure in section */
.container {
    color: black;
    font-size: large;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    max-width: 1200px;
    height: fit-content;
}
/* Name of the web application - work */
.container p {
    margin: 0 20px;
    text-decoration-style: solid;
    color: #2c157a;
    width: 330px;
    text-align: center;
}
/* About me */
.Aboutme-box h1 {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 1000px;
}
/* work main */
.larger-box {
    background-color: #f4f4f4;
    padding: 20px;
    flex: 2;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.larger-box img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.larger-box div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.larger-box h2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.larger-box p {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* work sub with 4 images & links */
.large-box {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 10px 0px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.large-box h1 {
    list-style: none;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}
/* Adjusting the size of 4 images & links */
.small_project_card {
    width: 500px;
    flex-wrap: wrap;
    display: flex;
}

.small_project_card img {
    width: 100%;
}

.small_project_card div {
    width: 100%;
}

.small_project_card p {
    width: 100%;
}

.small_project_card h2 {
    width: 100%;
}
/* Box alignment for flex-wrap */
.small_project_box {
    display: flex;
    flex-wrap: wrap;
    width: 1014px;
}
/* Small box to explain application or potential work*/
.small-box {
    background-color: white;
    width: 400px;
    color: rgb(12, 37, 160);
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
}

.small-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

